[submodule "Eris/vendor/spdlog"]
	path = Eris/vendor/spdlog
	url = https://github.com/xCoduster/spdlog
[submodule "Eris/vendor/glfw"]
	path = Eris/vendor/glfw
	url = https://github.com/xCoduster/glfw
[submodule "Eris/vendor/imgui"]
	path = Eris/vendor/imgui
	url = https://github.com/xCoduster/imgui
[submodule "Eris/vendor/glm"]
	path = Eris/vendor/glm
	url = https://github.com/xCoduster/glm
